$header-height: 45px;
$blue1: #0f4c74;
$blue2: #3f82b7;
$blue3: #5b96c4;
$black: #000;
$white: #fff;

body {
  border: thin solid cyan;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#app {
  background-color: $blue1;
  color: $white;
}

.jpt-header {
  border: thin solid blue;
  padding: 1rem;
  height: $header-height;
  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1em;
  }
}

.jpt-menu {
  position: absolute;
  margin-top: $header-height;
  width: 100%;
  left: -100%;
  transition: 0.5s;
  opacity: 0;
  background-color: $blue3;
  &.open { 
    left: 0;
    opacity: 1;
  }
}

.jpt-menu-panel {
  border: thin dotted lime;
}
  .jpt-menu-toggle{
    height: 30px;
    float: right;
    border: none;
    background: none;

    &:focus {
        outline: none;
    }
    .icon-bar{
        display: block;
        width: 35px;
        height: 6px;
        border-radius: 2px;
        background-color: $white;
        transition: all 0.3s;
    }
    .top-bar {
        margin-bottom: 4px;
        transform: rotate(45deg);
        transform-origin: 20% 50%;
        transform-origin: 0 85%;
    }
    .middle-bar {                 
        margin-bottom: 4px;
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 20% 50%;
    }
    &.closed{
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
  }